*, *::after, *::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body{
    font-size: 12px;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
}

@font-face {
    font-family: LeagueGothic;
    src: url("../fonts/LeagueGothic-Regular.otf") format("opentype");
}

.topNav-full-container{
    border-bottom: 5px solid #cccccc;
    background-image: radial-gradient(rgba(255,255,255, 1) 65%, rgba(235, 235, 235, 0.59));
}

.topNav-container{
    width: 68%;
    /*background-color: transparent;*/
    /*background-image: radial-gradient(rgba(255,255,255, 1), rgba(255, 255, 255, 0.59));*/
}

#topNav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-top: 5px;
}

.social-links img {
    background-color: grey;
    width: 27px;
    height: 27px;
}

.topNav-links{
    font-size: 10px;
    color: #999999;
    text-transform: uppercase;
    font-weight: bold;
    height: 13px;
}

.topNav-links a{
    padding-top: 0;
}

.topNav-links li:not(:last-child){
    border-right: 1px dotted grey;
}

#cart-img{
    width: 20px;
    height: 20px;
}

.cart-link span {
    font-size: 24px;
    text-transform: uppercase;
    font-family: "LeagueGothic";
    color: #000;
}

.shopping-bag{
    width: 400px;
    color: #666666;
    text-align: left;
    left: -188px;
    border-top: 3px solid #666666;
}

.shopping-bag-items{
    max-height: 384px;
    min-height: 100px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid #cccccc;
}

.empty-cart{
    padding: 50px 0px 50px 65px;
    font-size: 12px;
}

.sub-total{
    font-size: 11px;
    color: #666666;
    border-bottom: 1px dotted #cccccc;
}

#sub-total-span{
    padding-left: 60px;
}

.sub-total-price{
    font-size: 26px;
    padding-right: 12px;
}

.shopping-bag-checkout{

}

.shopping-bag-checkout-right a{
    font-size: 28px;
    font-family: "LeagueGothic";
    font-style: italic;
    color: #006633;
    text-decoration: none;
}


#close-button-link{
    top: 6px;
}

#close-button:hover #checkout-dropdown{
    display: none !important;
}

#close-button{
    width: 20px;
    height: 20px;
}


#close-button:hover{
    cursor: pointer;
}

.brand-name{
    font-size: 35px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: 'Coda Caption', sans-serif;
}

.search-form{
    width: 40%;
    margin-right: 35px;
}

.search-bar{
    border-radius: 13px;
    border: 1px solid #cccccc;
    z-index: 10;
}

.search-bar-input{
    border: none;
    background-color: transparent;
    margin: 3px 20px !important;
}

.search-bar-input:focus{
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 0px !important;
}

.search-button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    text-transform: uppercase;
    font-family: "LeagueGothic";
}

.mainNav{

}

.mainNav li{
    font-size: 24px;
    font-family: "LeagueGothic";
    border-left: 2px solid #cccccc;
}

.mainNav li:last-child{
    border-right: 2px solid #cccccc;
}

.mainNav a{
    padding: 0 11px !important;

}

.mainNav div a:first-child {
    font-family: "Arial";
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #999;
}

.mainNav div a:not(:first-child) {
    font-family: "Arial";
    font-size: 12px;
    color: #999;
}

.first-dropdown{
    left:-265px !important;
}

.mainNav div:not(:first-child)[class*='dropdown-menu']{
    min-width: 99vw;
    left: -245px;
    box-shadow: 0px 8px 5px 0px rgba(50,50,50,0.3);
}



.mainNav-links{
    padding-left: 9rem !important;
}

.mainNav-links-container{
    max-width: 93%;
}

.mainNav-links-border-right{
    border-right: 1px dotted #cccccc;
}

.mainNav div a:hover{
    background-color: transparent !important;
    color: #000;
}

.image-slider img{
    height: 500px;
}

.new-arrivals{
    color: #006633 !important;
}

.footer-container{
    border-top: 5px solid #666666;
    font-size: 10px;
    padding-bottom: 6rem;
}

.footer a{
    color: #000 !important;
    font-weight: bold;
    padding: 0 10px;
}

.footer li:not(:last-child){
    border-right: 1px solid #cccccc;
}

.footer li{
    margin: 7px 0;
}

#footer-nav-container{
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.prev-button{
    background-color: #666666 !important;
    /*width: 40px;*/
    /*height: 40px;*/
}

.next-button{
    background-color: #666666 !important;
    /*width: 40px;*/
    /*height: 40px;*/
}

#mainNav-link1:hover #mainNav-dropdown1{
    display: block !important;
}

#mainNav-link2:hover #mainNav-dropdown2{
    display: block !important;
}

#mainNav-link3:hover #mainNav-dropdown3{
    display: block !important;
}

#mainNav-link4:hover #mainNav-dropdown4{
    display: block !important;
}

#mainNav-link5:hover #mainNav-dropdown5{
    display: block !important;
}

#mainNav-link6:hover #mainNav-dropdown6{
    display: block !important;
}

#mainNav-link7:hover #mainNav-dropdown7{
    display: block !important;
}

#mainNav-link8:hover #mainNav-dropdown8{
    display: block !important;
}

#mainNav-link8:hover #mainNav-dropdown8{
    display: block !important;
}

#mainNav-link9:hover #mainNav-dropdown9{
    display: block !important;
}

#mainNav-link10:hover #mainNav-dropdown10{
    display: block !important;
}

#mainNav-link11:hover #mainNav-dropdown11{
    display: block !important;
}

#mainNav-link12:hover #mainNav-dropdown12{
    display: block !important;
}

#checkout-link{
    margin-top: -10px;
}

#checkout-link:hover #checkout-dropdown{
    display: block;
}

.slide-section{
    width: 71% !important;
}

.slide-section p {
    color: #000;
    font-family: "LeagueGothic";
    font-size: 30pt;
    text-transform: uppercase;
    text-align: center;
}

#carouselExampleControls3{
    width: 90%;
    margin-left: 3.1rem;
}

#shop li a, #shop li a:visited{
    color: #999999;
    text-decoration: none;
}

#shop li{
    list-style: none;
}

#shop{
    font-size: 12px;
    font-family: 'Arial';
    text-transform: uppercase;
}

#shop > li{
    font-weight: bold;
       }

#shop ul li a{
    font-weight: normal;
}

#shop input {
    width: 23px;
    margin-left: 2px;
}

#shop button{
    padding: 0 3px;
}

#shop-items{
    color: #999999;
    text-transform: uppercase;
    font-weight: bold;
}

#shop-products{
    color: #000;
    box-sizing: border-box;
}

#shop-products a h4{
       color: #000;
    font-size: 24px;
    margin-bottom: 0;
    font-family: "LeagueGothic";
    margin-top: 6px;
   }

#shop-products a h6{
    color: #666666;
    font-weight: bold;
    font-size: 11px;
    margin-bottom: 0;

}

#shop-products a h5{
    color: #666666;
    font-weight: normal;
    font-size: 11px;
    margin-bottom: 0;

}

#shop-products a {
    text-decoration: none;
}

#shop-products p{
    font-size: 17px;
    font-weight: bold;
    color: #333333;
    margin-top: 1rem;
}

#shop-products div{
    /*margin-right: 30px;*/
}

/*#shop-products div img:hover{*/
    /*border: 3px solid #999999;*/
    /*margin-bottom: -6px;*/
/*}*/

/*#shop-products div:hover{*/
    /*margin-bottom: -6px;*/

/*}*/

#shop-products div img{
    width: 197px;
    height: 217px;
}

#product-image{
    width: 424px;
    height: 478px;
}

#product-image img{
    width: 100%;
    height: 100%;
}

#product-info h1{
    font-family: "LeagueGothic";
    font-size: 48px;
    text-transform: uppercase;
    color: #333333;
    line-height: 42px;
}

#product-info h2{
    font-size: 36px;
    display: block;
    color: #999999;
    font-family: "LeagueGothic";
    text-transform: uppercase;
}

#product-info h3{
    font-size: 30px;
    font-weight: bold;
    color: #333333;
    border-top: 1px dotted #cccccc;
    border-bottom: 1px dotted #cccccc;
}

#product-info h6{
    font-size: 13px;
    font-weight: bold;
    color: #000000;
}

.cart-container{
    width: 65%;
}

.cart-breadcrumb a{
    text-decoration: none;
    color: #999999;
}

.cart-breadcrumb{
    color: #999999;
    font-size: 10px;
    font-weight: bold;
}

.cart-breadcrumb h2{
    font-size: 17px;
    color: #333333;
    font-family: Arial;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
}

.cart-btn{
    background-repeat: repeat-x;
    height: 28px;
    padding: 0px 20px;
    line-height: 28px;
    color: #FFFFFF;
    border: medium none;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    background-image: radial-gradient( rgb(164, 223, 107), rgb(148, 184, 76));
    background-position: bottom;
    text-align: center;
    border-radius: 0 !important;
}

.cart-btn:hover{
    color: #ffffff;
}

.cart-table thead{
    background-color: #b0b0b0;
    color: #fff;

}

.cart-table thead tr{
    height: 18px;
}

.cart-table thead tr th:nth-child(2){
    width: 222px;
}

.cart-table thead tr th:nth-child(3){
    width: 137px;
}
.cart-table thead tr th:nth-child(4){
    width: 102px;
}
.cart-table th:not(:first-child){
    border-left: 1px solid #ffffff;
    padding-left: 10px;
    font-weight: normal;
}

.cart-table tbody{
    vertical-align: top;
    font-weight: bold;
    color: #666666;
    font-size: 10px;
}

.cart-table tbody tr td{
    padding-top: 15px;
}

.cart-table tbody tr td:last-child{
    color: #333333;
    float: right;
    font-size: 18px;
    font-weight: bold;

}

.cart-table tbody tr{
    border-bottom: 1px dotted #cccccc;
}

.cart-table tbody a{
    text-decoration: none;
    color: inherit;
}

.cart-subtotal p{
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}

.cart-subtotal p span{
    font-size: 32px;
    color: #000000;
    font-weight: bold;
}

.cart-subtotal{
    border-bottom: 1px dotted #cccccc;
}

.cart-subtotal form button{
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}

.checkout-cart-container{
    border-bottom: 1px dotted #000000;

}

.checkout-cart{
    font-weight: bold;
    color: #666666;
    font-size: 10px;
}

.checkout-cart-subtotal{
    font-size: 18px;
    color: #333333;
    float: right;
    margin-right: 30px;
    font-weight: bold;
}

.quantity{
    border: 1px solid #BDBCBD;
    font-size: 12px;
    width: 29px;
    height: 16px;
    padding-bottom: 1px;
    text-align: center;
}

.update-quantity{
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 4px;
    text-decoration: none;
    color: #999999;
    background: transparent;
    border: none;
    cursor: pointer;
}

.search-results{
    position: absolute;
    top: 44px;
    left: 39%;
    background-color: #ffffff;
    z-index: 10000;
    border: 1px solid #cccccc;
    width: 590px;
    height: auto;
    display: none;
}

.table-container{
    border: 1px solid #cccccc;
    padding-left: 0;
    padding-right: 0;
}

.table-results thead tr{
    font-size: 16px;
    font-weight: bold;
    color: #006633;
}

.table-results thead tr td{
    vertical-align: middle !important;
}

.table-results thead th{
    border-bottom: none;
    width: 60%;
}

.table-results{
    width: 90%;
    border-left: none;
    border-right: none;
    margin-left: 15px;
    margin-right: 15px;
}

.table-results a{
    text-decoration: none;
    color: #666666;
}

.table-results tr:hover{
    background-color: #daebfd !important;
}

#search-bar{ /* Chrome/Opera/Safari */
    color: #999999;
    text-transform: uppercase;
    font-family: "LeagueGothic";
    font-size: 20px;
    font-style: italic;
}

.recommends{
    border-bottom: 1px solid #999999;
    color: #999999;
    font-size: 24px;
    font-family: "LeagueGothic";
    height: 28px;
    text-transform: uppercase;
    padding: 0px 10px;
}

.recommends-links{
    text-decoration: none;
    font-family: "LeagueGothic";
    font-size: 11px;
    color: #666666;
}

.recommends-links:hover{
    text-decoration: none;
    color: #666666;
}

.recommends-span{
    font-size: 24px;
    line-height: 24px;
    color: #333333;
}

.recommends-p{
    font-size: 17px;
    font-weight: bold;
    color: #333333;
}

.recommends-container{
    width: 60%;
}

.recommends-span-2{
    color: #666666;
    font-weight: normal;
    font-size: 11px;
    font-family: 'Arial';
}

.recommends-h5{
    margin-top: -10px;

}

.container{
    min-width: 1000px !important;

}

.fluid-container{
    min-width: 1000px !important;
}

#footwear-link{
    background-image: linear-gradient(to left, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("http://www.jimmyjazz.com/sites/default/files/slideshow/03_29_18_484x286-HP-CAT1.jpg");
    width: 484px;
    height: 286px;
    display: block;
}

#clothing-link{
    background-image: linear-gradient(to left, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("http://www.jimmyjazz.com/sites/default/files/slideshow/02_23_18_484x286_Shop_CLothing.jpg");
    width: 484px;
    height: 286px;
    display: block;
}

#accessory-link{
    background-image: linear-gradient(to left, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("http://www.jimmyjazz.com/sites/default/files/slideshow/02_15_18_484x286-9A1971.jpg");
    width: 484px;
    height: 286px;
    display: block;
}

#all-link{
    background-image: linear-gradient(to left, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("http://www.jimmyjazz.com/sites/default/files/slideshow/02_14_18_484X286_Shop-New-Nike-for-Her_NEW.jpg");
    width: 484px;
    height: 286px;
    display: block;
}

.links{
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: "LeagueGothic";
    font-size: 30pt;
    text-decoration: none;
}

.links:hover{
    color: #FFFFFF;
}

@media only screen and (max-width: 575px) {
    .container{
        min-width: 370px !important;

    }

    .fluid-container{
        min-width: 370px !important;
    }

    .brand-name{
        font-size: 18px;
        letter-spacing: .5px;
        position: absolute;
        top: -34px;
        left: 38px;
    }

    .navbar-toggler{
        padding: 0;
        border: none;
        height: 30px;
        position: relative;
        top: 4px;
        left: -17px;
    }

    .topNav-container{
        width: 100%;
    }

    .search-form{
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .search-bar {
        height: 31px;
    }

    .topNav-full-container{
        border-bottom: 1px solid #cccccc;
    }

    .mainNav li{
        border-left: none;
    }

    .mainNav li:last-child{
        border-right: none;
    }

    #mainNav-link1:hover #mainNav-dropdown1{
        display: none !important;
    }

    #mainNav-link2:hover #mainNav-dropdown2{
        display: none !important;
    }

    #mainNav-link3:hover #mainNav-dropdown3{
        display: none !important;
    }

    #mainNav-link4:hover #mainNav-dropdown4{
        display: none !important;
    }

    #mainNav-link5:hover #mainNav-dropdown5{
        display: none !important;
    }

    #mainNav-link6:hover #mainNav-dropdown6{
        display: none !important;
    }

    #mainNav-link7:hover #mainNav-dropdown7{
        display: none !important;
    }

    #mainNav-link8:hover #mainNav-dropdown8{
        display: none !important;
    }

    #mainNav-link8:hover #mainNav-dropdown8{
        display: none !important;
    }

    #mainNav-link9:hover #mainNav-dropdown9{
        display: none !important;
    }

    #mainNav-link10:hover #mainNav-dropdown10{
        display: none !important;
    }

    #mainNav-link11:hover #mainNav-dropdown11{
        display: none !important;
    }

    #mainNav-link12:hover #mainNav-dropdown12{
        display: none !important;
    }

    #checkout-link:hover #checkout-dropdown{
        display: none;
    }

    .topNav-full-container{
        background-image: none;
    }

    .topNav-container{
        background-image: none;
    }

    .image-slider img{
        height: 250px;
    }

    .slide-section img{
        width: 100%;
    }

    .slide-section{
        margin-left: 0;
        margin-right: 0;
        width: 100% !important;
        padding-left: 0;
        padding-right: 0;
    }

    .slide-section div[class='col-5 ml-5']{
        margin-left: 0 !important;
        display: block;
        max-width: unset;
        flex: unset;
    }

    .slide-section div[class = 'col-5']{
        max-width: unset;
        flex: unset;
    }

    #carouselExampleControls3{
        width: 100%;
        margin-left: 0;
    }

    #shop-products div[class='col-4 mb-4']{
        flex: unset;
        max-width: 100%;
        display: block;
        text-align: center;
    }

    #select1{
         display: block;
        margin-bottom: 10px;
     }

    #select2{
        display: block;
        margin-bottom: 10px;
    }

    #product-info{
        margin-left: 0 !important;
        padding-right: 0;
        padding-left: 0;
    }

    #product-image img{
        width: 180px;
        height: 200px;
    }

    .recommends-container div[class='col-2 ml-auto mr-auto']{
        flex: 0 0 40%;
        max-width: 40%;

    }

    .recommends-container img{
        width: 100% !important;
    }

    #checkout-link{
        display: block !important;
        margin-top: unset;
    }

    table tbody img{
        width: 70px !important;
        height: 80px !important;
    }

    table tbody{
        font-size: 8px !important;
    }

    table tbody input{
        font-size: 8px !important;
    }

    .cart-table thead tr th:nth-child(3){
        padding-right: 25px;
    }

    .cart-container div[class='col-6 mt-4']{
        max-width: 65% !important;
    }

    #topNav{
        width: unset;
    }

    #clothing-link{
        width: 370px;
        margin-bottom: 15px;
    }

    #footwear-link{
        width: 370px;
        margin-bottom: 15px;
    }

    #accessory-link{
        width: 370px;
        margin-bottom: 15px;
    }

    #all-link{
        width: 370px;
        margin-bottom: 15px;
    }

    div[class="col-5 ml-5 text-center"]{
        margin-left: 0 !important;
        max-width: unset;
    }

    .search-results{
        display: none !important;
    }
}